{% extends "auth-base.html" %}
{% load static %}

{% block content %}

   <!--start wrapper-->
    <div class="wrapper-auth">
        <div class="row login-container g-0 m-0">
            <div class="col-xl-6 col-md-12">
                <div class="login-cover-img d-flex align-items-end justify-content-end ">
                    <div class="w-75 mb-4 me-4 p-4 rounded auth-content">
                        <p class="text-white ">Literally it does not mean anything. It is a sequence of words without a
                            sense of Latin derivation that
                            make up a text also known as filler text, fictitious, blind or placeholder</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 p-5 ">
                <div class="login-cover-wrapper">
                    <div class="shadow-none">
                        <img src="{% static 'images/icons/logo.png' %}" alt="" width="150" class="mb-4" />
                        <div class="d-flex gap-2 align-items-center mb-4">
                            <img src= "{% static 'images/icons/19231-payment-successful.png' %}" alt="" width="120" />
                            <h1 class="fw-semibold ">Password Reset Completed</h1>
                        </div>
                        <p class="text-dark-color">Now, you can log in to your account with the new password.</p>
                        <form class="form-body row g-3">
                            <div class="col-12 col-lg-12">
                                <div class="d-grid">
                                    <button type="button" class="btn bg-main text-white p-2">Got It</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--end row-->
    </div>
    <!--end wrapper-->
{% endblock %}