{% load static %}

<!doctype html>
<html lang="en" class="light-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- loader-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/common/valdation.js' %}"></script>
    <script src="{% static 'js/common/utilis.js' %}"></script>
    <script src="{% static 'js/common/env-variables.js' %}"></script>
    <script src="{% static 'js/auth/setup-account.js' %}"></script>

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <link href="{% static 'css/pace.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!--plugins-->
    <link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <title>IVO</title>
</head>

<body class="bg-white">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg p-3 header">
        <div class="container align-items-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/icons/logomain.png' %}" alt="" width="230" />
            </a>
        </div>
    </nav>

    <!-- navbar-end -->
    <!--start wrapper-->
    <div class="wrapper-auth h-full py-5 bg-lightest">
        <div class="container">
            <h3 class="text-center fs-3 text-black fw-bold mb-3">Setup Your Account</h3>
            <p class="preview-heading text-center mb-5">Hii <span class="fw-bold">markhandry@gmail.com</span> Let’s
                setup
                your Account </p>

            <form id="multi-step-form">
                <!-- office detail -->

                <div class="card shadow-none border-0 p-3 p-lg-5 mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="font-14 fw-semibold text-black mb-1" for="first-name">First
                                        Name</label>
                                    <input type="text" class="form-control" id="first-name" name="first_name"
                                        placeholder="Enter First Name", oninput="formValidation(this.name, this.value, this.id)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="font-14 fw-semibold text-black mb-1" for="last-name">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" name="last_name"
                                        placeholder="Enter Last Name", oninput="formValidation(this.name, this.value, this.id)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="font-14 fw-semibold text-black mb-1" for="phone-number">Phone
                                        Number</label>
                                    <div>
                                        <input type="number" class="form-control w-100" id="phone" name="phone_number"
                                            placeholder="Enter Phone Number" oninput="formValidation(this.name, this.value, this.id)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="font-14 fw-semibold text-black mb-1" for="password">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter your Password", oninput="formValidation(this.name, this.value, this.id)">
                                        <div class="position-absolute password-icon   togglePassword">
                                            <i class="lni lni-eye fs-6" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="font-14 fw-semibold text-black mb-1" for="confirm_password">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                                            placeholder="Confirm Password", oninput="formValidation(this.name, this.value, this.id)">
                                        <div class="position-absolute password-icon   togglePassword">
                                            <i class="lni lni-eye fs-6" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn fs-6 fw-normal py-2 bg-main text-white px-5 next-btn"
                        data-next="step-2" onclick="SetupAccount()">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
    <script>
       $(document).ready(function () {
    const input = document.querySelector("#phone");
    const iti = window.intlTelInput(input, {
        initialCountry: "auto",
        geoIpLookup: function (success, failure) {
            $.get("https://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                const countryCode = (resp && resp.country) ? resp.country : "us";
                success(countryCode);
            });
        },
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" // just for formatting/placeholders etc
    });

    // Ensure error messages are displayed correctly
    $(".form-control").each(function() {
        $(this).parent().append("<span class='error-message text-danger'>Error message</span>");
    });
});
    </script>
</body>

</html>
