{% extends "auth-base.html" %}
{% load static %}

{% block content %}

<!-- api's-->
<script src="{% static 'js/auth/sign-up.js' %}"></script>

<!--start wrapper-->
<div class="wrapper-auth h-full">
    <div class="row login-container g-0 m-0">
        <div class="col-md-12">
            <div class="login-cover-img d-flex align-items-center ps-5 ">
                <div class="w-50 mb-4 me-4 p-4 rounded auth-content">
                    <h1 class="text-white display-2 fw-bold">Welcome! <span>&#128073;</span>Mark Antony</h1>
                    <p class="text-white ">Let’s get you started by entering your office details</p>
                    <a href="{% url 'office:offices' %}" class="text-decoration-none">
                        <div class=" ">
                            <button type="button" class="btn bg-main fw-normal text-white p-2 px-4">Create a New Project
                                <i class='bx bx-chevrons-right'></i></button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--end row-->
</div>
<!--end wrapper-->
{% endblock %}